body {
    color:black;
    background-color: #222034;
    background-size: 60px 60px;
    background-position: 0 0;
}

.text{
    position: absolute;
    bottom: 70%;
    right: 45%;
    transform: translate(-50%, -50%);
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: hsla(0, 0%, 12%, 0.25);
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.text span{
    opacity: 0;
    color: white;
    font-family: "Tiny5", sans-serif;
    font-size: 50px;
}

.text span.bold{
    font-weight: 1000;
    color: rgb(252, 196, 92);
}

.text span.revealed{
    opacity: 1;
}