html {
    font-size: 18px;
  }
body {
    color:black;
    font-family: "Questrial", sans-serif;
    background-color: #637aff;
    background-size: 60px 60px;
    background-position: 0 0;
}

.text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.text span{
    opacity: 0;
}

.text span.bold{
    font-weight: bold;
}

.text span.revealed{
    opacity: 1;
}